src/main/resources/confirmation.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http:/univ-lyon1.fr/tiw1-is/banque/service"
           targetNamespace="http:/univ-lyon1.fr/tiw1-is/banque/service" elementFormDefault="qualified">

    <xs:element name="transfertRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="numActivation" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="transfertResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activationOk" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>